{% extends "base.html" %} {% block title %}Home{% endblock %} {% import "bootstrap/wtf.html" as wtf %}{% block content%}


 
        {% if discussions %}
        <p> No discussions Pitches </p>
    {% else  %}
    {% for pitch in discussion%}
    <title> {{ pitch.data }}</title>
    {% endfor %}
    
    {% endif %}
    <footer class="page-footer font-small blue bg-dark">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-white">&copy; 2022 Copyright:
      
        </div>
        <!-- Copyright -->
      
      </footer>
      {% endblock %}