{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}


<p class="first">In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful? Worry no more! First Impression Pitches got you covered. Welcome.

  You can as well share with us what you got. Feel free inspire someone out there.</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-white bg-dark mb-3">
        <div class="card-header text-center">All pitches</div>
        <div class="card-body">
          <h5 class="card-title text-center">Interview pitch</h5>
           <p class="card-text">“Hi, my name is Marial. After graduating with my Bachelor’s degree in Business Administration, I’ve spent the last three years building professional experience as an Executive Assistant. I’ve successfully managed end-to-end event coordination and have generated a strong professional network for my colleagues. I was excited to learn about this opportunity in the software management space — I’ve always been passionate about the way sports brings cultures together and would love the opportunity to bring my project management and leadership abilities to this position.</p> -->
          <button type="button" id="btn_like" class="btn btn-primary btn-danger btn-sm btn">Like <span><i
                class="glyphicon glyphicon-thumbs-up"></i></span></button>
          <button type="button" id="btn_dislike" class="btn btn-primary btn-danger btn-sm">Dislike <span><i
                class="glyphicon glyphicon-thumbs-down"></i></span></button>

          <br><br>

          <h6>Leave a pitch below to get votes</h6>
          <form method="POST">
            <textarea name="note" id="note" class="form-control" placeholder="Add Pitch"></textarea>
            <br />
            <div align="center" class="container-fluid text-white bg-black">

              <button align-center type="submit" class="btn btn-primary btn-danger btn-sm">Leave a
                pitch</button><br><br>
            </div>
          </form> <br>

          <ul style="background-color: hwb(0 98% 2%);" class="list-group list-group-flush " id="notes">
            {% for note in user.notes %}
            {{ note.data }}
            <li class="list-group-item text-dark">
              <button type="button" id="btn_like" class="btn btn-primary   btn-sm btn">Like <span><i
                    class="glyphicon glyphicon-thumbs-up"></i></span></button>
              <button type="button" id="btn_dislike" class="btn btn-primary btn-sm">Dislike <span><i
                    class="glyphicon glyphicon-thumbs-down"></i></span></button>


              <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                <span aria-hidden="true">&times;</span>
              </button>
            </li>
            {% endfor %}
          </ul>

        </div>
      </div>
    </div>

    <div class="col-md-5">
      <h4 align="center">Discussion pitches| Friendship pitches | | Interview pitches | Promotion pitches| <hr>
    </div>

    

  </div>
</div>




<footer class="page-footer font-small blue bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">&copy; 2022 Copyright:

  </div>
  <!-- Copyright -->

</footer>
{% endblock %}